extends ./layouts/layout.jade

block title
    title Delivery - About us

block nav-about
    li.active
      a(href='/about')
        | About us 
        span.sr-only (current)

block content
    .container
        h1 About us
        .panel.panel-default
            .panel-body
                p About us
