extends ./layouts/layout.jade

block title
    title About us - EZ Delivery

block nav-about
    li.active
      a(href='/about')
        | About us 
        span.sr-only (current)

block content
    .container
        h1 About us
        .panel.panel-default
            .panel-body
                p(style="font-size: 20px;") 1. Jenwich Rattanayenjai
                p(style="font-size: 20px;") 2. Pochara Thiamangkornpan
                p(style="font-size: 20px;") 3. Panupong Maneerut
                p(style="font-size: 20px;") 4. Parut Singhapun
                p(style="font-size: 20px;") 5. Watcharaphat Manosatiankul
                p(style="font-size: 20px; font-weight: bold;") Department of Computer Engineering, Faculty of Engineering, Kasetsart University
