extends ./account.jade

block account-content
    .panel.panel-default
        .panel-body
            #balance

block js
    script(type="text/javascript", src="/js/vendors.js")
    script(type="text/javascript", src="/js/balance.js")
    
