html
    head
        title Welcome
    body
        h1 Hello from Jade
        div#app
        script(type="text/javascript", src="/js/vendors.js")
        script(type="text/javascript", src="/js/index.js")
