extends ./layouts/layout.jade

block title
    title Store Manager

block content
    .container
        .row
            .col-md-12
                h1 Welcome, store
        .row
            .col-md-3
                .list-group
                    a.list-group-item(href="#") Order
                    a.list-group-item(href="#") Menus
                    a.list-group-item(href="#") Coupon
            .col-md-9
                p asdfasd
                
