extends ./layouts/layout.jade

block title
    title Store Manager

block content
    .container
        .row
            .col-md-12
                h1 Manager Page - #{name}
        .row
            .col-md-3
                .list-group
                    a.list-group-item(href="/manager/view/order") Order
                    a.list-group-item(href="/manager/view/menus") Menus
                    a.list-group-item(href="/manager/view/coupon") Coupon
            .col-md-9
                block manager-content
                
