extends ./layouts/layout.jade

block title
    title Sign up

block content
    h1 Sign up
    div#register

block js
    script(type="text/javascript", src="/js/vendors.js")
    script(type="text/javascript", src="/js/register.js")
