extends ./layouts/layout.jade

block title
    title Sign up

block content
    .container
        .row(style="margin-top: 20px")
            .col-md-8.col-md-offset-2
                h2 Sign Up
                .panel.panel-default
                    .panel-body
                        #register

block js
    script(type="text/javascript", src="/js/vendors.js")
    script(type="text/javascript", src="/js/register.js")
