html
    head
        title Sign In
    body
        h1 Sign In
        div#signin
        script(type="text/javascript", src="/js/vendors.js")
        script(type="text/javascript", src="/js/signin.js")
