extends ./layouts/layout.jade

block title
    title Sign in

block content
    .container
        .row(style="margin-top: 20px")
            .col-md-6.col-md-offset-3
                h2 Sign In
                .panel.panel-default
                    .panel-body
                        #signin

block js
    script(type="text/javascript", src="/js/vendors.js")
    script(type="text/javascript", src="/js/signin.js")
